<template>
  <div id="template" class="container">
    <div class="column">
      <div>
        <div class="row header">
          <div v-if="data.picture" :class="tableCol4" class="col-md-4">
            <img class="image" alt="picture" :src="`${publicPath}data/${data.picture.name}`">
          </div>
          <div v-if="data.header" :class="tableCol8" class="col-md-8">
            <div class="name">{{ data.header.name }}</div>
            <div class="description">{{ data.header.description }}</div>
          </div>
        </div>
        <div class="row data">
          <div :class="tableCol4" class="col-md-4">
            <div v-if="data.info" class="left-column">
              <div class="field-header">Info</div>
              <div class="field">
                <div class="text text-bold">Address</div>
                <div>{{ data.info.address }}</div>
              </div>
              <div class="field">
                <div class="text text-bold">Phone</div>
                <div>{{ data.info.phone }}</div>
              </div>
              <div class="field">
                <div class="text text-bold">Email</div>
                <div>{{ data.info.email }}</div>
              </div>
              <div class="field">
                <div class="text text-bold">Date / Place of birth</div>
                <div>{{ data.info.birth_date }}</div>
                <div>{{ data.info.birth_place }}</div>
              </div>
              <div class="field">
                <div class="text text-bold">Nationality</div>
                <div>{{ data.info.nationality }}</div>
              </div>
              <div class="field">
                <div class="text text-bold">Driving licence</div>
                <div>{{ data.info.driving_licence }}</div>
              </div>
            </div>
            <div v-if="data.skills" v-split-page class="left-column">
              <div class="field-header">Skills</div>
              <div v-for="skill in data.skills" :key="skill">
                <br v-if="skill === '<break>'" >
                <div v-if="skill !== '<break>'" class="text text-bold">{{ skill }}</div>
              </div>
            </div>
            <div v-if="data.languages" v-split-page class="left-column">
              <div class="field-header">Languages</div>
              <div v-for="lang in data.languages" :key="lang.name">
                <div class="field">
                  <div class="text text-bold">{{ lang.name }}</div>
                  <div class="text">
                    <b-icon :icon="lang.level > 0 ? 'circle-fill' : 'circle'" class="padding-right-05" />
                    <b-icon :icon="lang.level > 1 ? 'circle-fill' : 'circle'" class="padding-right-05" />
                    <b-icon :icon="lang.level > 2 ? 'circle-fill' : 'circle'" class="padding-right-05" />
                    <b-icon :icon="lang.level > 3 ? 'circle-fill' : 'circle'" class="padding-right-05" />
                    <b-icon :icon="lang.level > 4 ? 'circle-fill' : 'circle'" class="padding-right-05" />
                  </div>
                </div>
              </div>
            </div>
            <div v-if="data.hobbies" v-split-page class="left-column">
              <div class="field-header">Hobbies</div>
              <div class="fields">
                <div v-for="hobby in data.hobbies" :key="hobby">
                  <div class="text text-bold">{{ hobby }}</div>
                </div>
              </div>
            </div>
          </div>
          <div :class="tableCol8" class="col-md-8">
            <div v-if="data.profile" class="right-column">
              <div class="field-header">Profile</div>
              <div v-for="p in data.profile" :key="p">
                <div class="text">{{ p }}</div>
              </div>
            </div>
            <div v-if="data.employment" class="right-column">
              <div v-split-page class="field-header">Employment history</div>
              <div v-for="e in data.employment" :key="e.company + e.role + e.date_from" v-split-page class="field-padded">
                <div class="text-big text-bold">{{ e.role }}, {{ e.company }}</div>
                <div class="text text-bold">
                  {{ e.date_from }} - {{ e.date_to ? e.date_to : 'Present' }}
                  <span class="padding-right-5" />
                  <b-icon-geo-alt class="padding-right-05" />
                  <span class="text">{{ e.place }}</span>
                </div>
                <div v-if="e.description" class="padding-top-2">
                  <div v-for="d in e.description" :key="d" class="text">{{ d }}</div>
                </div>
              </div>
            </div>
            <div v-if="data.education" class="right-column">
              <div v-split-page class="field-header">Education</div>
              <div v-for="e in data.education" :key="e.university + e.scientific_title + e.date_from" v-split-page class="field-padded">
                <div class="text-big text-bold">
                  {{ e.university }}<span v-if="e.scientific_title">, {{ e.scientific_title }}</span>
                </div>
                <div class="text text-bold">
                  {{ e.date_from }} - {{ e.date_to ? e.date_to : 'Present' }}
                  <span class="padding-right-5" />
                  <b-icon-geo-alt class="padding-right-05" />
                  <span class="text">{{ e.place }}</span>
                </div>
                <div class="text padding-top-2">Major: {{ e.major }}</div>
                <div v-if="e.thesis_title" class="padding-top-2">Title of thesis: {{ e.thesis_title }}</div>
              </div>
            </div>
            <div v-if="data.projects" class="right-column">
              <div v-split-page class="field-header">Projects</div>
              <div v-for="p in data.projects" :key="p.title + p.date_from" v-split-page class="field-padded">
                <div class="text-big text-bold">{{ p.title }}</div>
                <div v-if="p.employer">
                  <div class="text text-bold">{{ p.employer.name }}</div>
                  <div class="text text-bold">{{ p.employer.url }}</div>
                </div>
                <div class="text padding-top-2">{{ p.about }}</div>
                <div class="text padding-top-2">{{ p.technologies }}</div>
              </div>
            </div>
            <div v-if="data.links" class="right-column">
              <div v-split-page class="field-header">Links</div>
              <div v-for="link in data.links" :key="link.url" v-split-page>
                <div class="text text-bold">{{ link.label }}</div>
                <a :href="link.url" target="_blank" class="text text-bold">{{ link.url }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clause text text-italic">{{ data.clause }}</div>
    </div>
  </div>
</template>

<script>
  import {bootstrapMixin} from "@/mixins/bootstrap"
  import dataParser from "@/mixins/data_parser"
  import viewParser from "@/mixins/view_parser"

  export default {
    name: "CvTemplate1",
    mixins: [bootstrapMixin, dataParser, viewParser],
  }
</script>

<style scoped lang="less">
  .column { width: var(--cm-16); }

  .container {
    position: relative;
    margin: 0;
    font-family: 'raleway', sans-serif;
    font-weight: 200;

    .padding-right-5 { padding-right: var(--cm-_5); }
    .padding-right-05 { padding-right: var(--cm-_05); }
    .padding-top-2 { padding-top: var(--cm-_2); }

    .field-header {
      font-size: var(--cm-_6);
      font-weight: 300;
      color: cornflowerblue;
      padding-bottom: var(--cm-_4);
    }

    .field {
      font-size: var(--cm-_35);
      padding-bottom: var(--cm-_3);
    }

    .field-padded {
      font-size: var(--cm-_35);
      padding-bottom: var(--cm-_5);
    }

    .text {
      font-size: var(--cm-_35);
      font-weight: 200;
    }

    .text-big {
      font-size: var(--cm-_45);
      font-weight: 200;
    }

    .text-italic { font-style: italic; }
    .text-bold { font-weight: 400; }

    .header {
      .image {
        width: var(--cm-2);
        height: var(--cm-2);
        border-radius: 100%;
        object-fit: cover;
        object-position: top;
        margin-bottom: var(--cm-1);
      }

      .name {
        font-size: var(--cm-_8);
        font-weight: 400;
      }

      .description {
        font-size: var(--cm-_4);
        font-weight: 300;
      }
    }

    .data {
      .left-column {
        display: flex;
        flex-direction: column;
        padding: 0 var(--cm-1) var(--cm-_6) 0;
      }

      .right-column {
        display: flex;
        flex-direction: column;
        padding-bottom: var(--cm-_6);
      }
    }
  }
</style>
