<template>
  <div id="app">
    <div>
      <cv-template-1 v-if="templateId === 1" />
    </div>
    <div class="buttons">
      <b-button class="circle-button" @click="printPdf"><b-icon-download /></b-button>
    </div>
  </div>
</template>

<script>
  import * as jsyaml from "js-yaml"
  import CvTemplate1 from "@/templates/template_1/CvTemplate1"

  export default {
    name: "App",
    components: { CvTemplate1, },
    data: () => ({
      templateId: 1,
    }),
    mounted () {
      const configFile = new XMLHttpRequest()
      configFile.open("GET", "data/config.yml", false)
      configFile.onreadystatechange = () => {
        if(configFile.readyState === 4 && (configFile.status === 200 || configFile.status === 0)) {
          const config = jsyaml.load(configFile.responseText)
          if (config.template && config.template.index) this.templateId = config.template.index
        }
      }
      configFile.send(null)
    },
    methods: {
      printPdf () {
        print()
      }
    },
  }
</script>

<style lang="less">
  @font-face {
    font-family: 'raleway';
    src: url('../public/fonts/raleway/Raleway-Regular.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'raleway';
    src: url('../public/fonts/raleway/Raleway-Medium.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'raleway';
    src: url('../public/fonts/raleway/Raleway-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'raleway';
    src: url('../public/fonts/raleway/Raleway-SemiBold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'raleway';
    src: url('../public/fonts/raleway/Raleway-Italic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
  }
  @font-face {
    font-family: 'raleway';
    src: url('../public/fonts/raleway/Raleway-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }

  * {
    --print-scale: 1.4142;
    @media screen {
      --cm-_05: 0.05cm;
      --cm-_2: 0.2cm;
      --cm-_3: 0.3cm;
      --cm-_35: 0.35cm;
      --cm-_4: 0.4cm;
      --cm-_45: 0.45cm;
      --cm-_5: 0.5cm;
      --cm-_6: 0.6cm;
      --cm-_8: 0.8cm;
      --cm-1: 1cm;
      --cm-1_5: 1.5cm;
      --cm-2: 2cm;
      --cm-2_5: 2.5cm;
      --cm-16: 16cm;
      --cm-21: 21cm;
    }
    @media print {
      --cm-_05: calc(0.05cm * var(--print-scale));
      --cm-_2: calc(0.2cm * var(--print-scale));
      --cm-_3: calc(0.3cm * var(--print-scale));
      --cm-_35: calc(0.35cm * var(--print-scale));
      --cm-_4: calc(0.4cm * var(--print-scale));
      --cm-_45: calc(0.45cm * var(--print-scale));
      --cm-_5: calc(0.5cm * var(--print-scale));
      --cm-_6: calc(0.6cm * var(--print-scale));
      --cm-_8: calc(0.8cm * var(--print-scale));
      --cm-1: calc(1cm * var(--print-scale));
      --cm-1_5: calc(1.5cm * var(--print-scale));
      --cm-2: calc(2cm * var(--print-scale));
      --cm-2_5: calc(2.5cm * var(--print-scale));
      --cm-16: calc(16cm * var(--print-scale));
      --cm-21: calc(21cm * var(--print-scale));
    }
  }

  body, html {
    font-family: 'raleway', Helvetica, Arial, sans-serif;
    background-color: lightgrey;
    margin: 0;
    padding: 0;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-box-shadow: 0 0 10px 2px #000;
    -moz-box-shadow: 0 0 10px 2px #000;
    box-shadow: 0 0 10px 2px #000;

    background-color: white;
    color: #2c3e50;

    width: var(--cm-21);
    padding: var(--cm-1) var(--cm-2_5);
    @media screen { margin: 0 auto; }
    @media print { margin: 0; }

    .buttons {
      @media print { display: none; }
      position: sticky;
      bottom: 1cm;
      margin: 0 auto;
      padding: 0 1cm;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;

      .circle-button {
        height: 1.2cm;
        width: 1.2cm;
        border-radius: 100%;
        margin-left: 0.5cm;
      }
    }
  }
</style>
